*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: red;
    padding: 0.8em 2.3em;
    color: aliceblue;
    box-shadow: 0px 0px 10px #333;
    position: relative;
    z-index: 0;
}
.button:hover{
    box-shadow: 0px 0px 30px #333;
    transition: 1s;
    transform: scale(1.02);
}
.button::before{     /*isse jo bhi content hoga usse pehle kuch bhi place kar sakte*/
    content:"  ";
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;     /*ye batata hai ki kaise transform karna hai...*/
    transition: 1s;
    z-index: -1;
}
.button:hover::before{
    transform: scaleX(1);

} 